<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!-- Target connection strings -->
    <add name="xconnect.collection.101" connectionString="https://sitecore10.1.0.xconnect" />
    <add name="xconnect.collection.certificate.101" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=" />
    <add name="xconnect.search.101" connectionString="https://sitecore10.1.0.xconnect" />
    <add name="xconnect.search.certificate.101" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=" />
    <add name="xconnect.configuration.101" connectionString="https://sitecore10.1.0.xconnect" />
    <add name="xconnect.configuration.certificate.101" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=" />
    <!-- Source connection strings -->
    <add name="xconnect.collection.93" connectionString="https://sitecore9.3.xconnect" />
    <add name="xconnect.collection.certificate.93" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=" />
    <add name="xconnect.search.93" connectionString="https://sitecore9.3.xconnect" />
    <add name="xconnect.search.certificate.93" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=" />
    <add name="xconnect.configuration.93" connectionString="https://sitecore9.3.xconnect" />
    <add name="xconnect.configuration.certificate.93" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=" />
  </connectionStrings>
  <appSettings>
    <add key ="Source.ContactExtraction.BatchSize" value="50"/>
    <add key ="Source.ContactFacetKeys" value="AutomationPlanEnrollmentCache,AutomationPlanExit,EmailAddressHistory,ConsentInformation,MergeInfo,Emails,Personal,Addresses,Avatar,Classification,PhoneNumbers,ListSubscriptions,TestCombinations"/>
    <add key ="Source.InteractionFacetKeys" value="WebVisit,IpInfo,ProfileScores,LocaleInfo,UserAgentInfo"/>
    <add key ="Target.Submit.BatchSize" value="10"/>
    <add key ="Target.Submit.NumberOfThreads" value ="2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async.Providers" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
